---
import ecommerceCoder from "../../js/data/works/ecommerceCoder.json";
import { MdOutlineKeyboardArrowRight } from "react-icons/md/index.js";
import { RiExternalLinkFill } from "react-icons/ri/index.js";

const [{ title, description, description2, itemDetailIMG, cartIMG, formIMG }] =
  ecommerceCoder;
---

<div class="workContainer">
  <div class="workContainer__information">
    <a href="/">
      <span class="gradient__text">Works</span>
    </a>
    <MdOutlineKeyboardArrowRight
      className="workContainer__MdOutlineKeyboardArrowRight"
    />
    <h2>
      {title}
      <span class="workContainer__year gradient__text">2022</span>
    </h2>
  </div>
  <div class="workContainer__paragraphs">
    <p>{description}</p>
    <p>{description2}</p>
  </div>
  <div class="workContainer__tools">
    <div class="workContainer__span">
      <span class="workContainer__badge">SITIO WEB</span>
      <a href="https://weblucho.vercel.app/" target="_blank">
        https://weblucho.vercel.app/
      </a>
      <span class="workContainer__iconLink"><RiExternalLinkFill /></span>
    </div>
    <div class="workContainer__span">
      <span class="workContainer__badge">CODIGO</span>
      <a
        href="https://github.com/LuchoDevjs/PryFinalReactLuciano"
        target="_blank"
      >
        https://github.com/LuchoDevjs/PryFinalReactLuciano/
      </a>
      <span class="workContainer__iconLink"><RiExternalLinkFill /></span>
    </div>

    <p>
      <span class="workContainer__badge"> STACK</span>
      Reactjs / React-icons / React-router-dom / ChakraUI / Formik / Vercel
    </p>
  </div>
  <div class="workContainer__imgs">
    <img src={itemDetailIMG} alt="itemDetailIMG" />
    <img src={cartIMG} alt="cartIMG" />
    <img src={formIMG} alt="formIMG" />
  </div>
</div>
