---
import landingJS from "../../js/data/works/landingPageJS.json";
import { MdOutlineKeyboardArrowRight } from "react-icons/md/index.js";
import { RiExternalLinkFill } from "react-icons/ri/index.js";

const [{ title, description, description2, sedesIMG, footerIMG, formIMG }] =
  landingJS;
---

<div class="workContainer">
  <div class="workContainer__information">
    <a href="/">
      <span class="gradient__text">Works</span>
    </a>
    <MdOutlineKeyboardArrowRight
      className="workContainer__MdOutlineKeyboardArrowRight"
    />
    <h2>
      {title}
      <span class="workContainer__year gradient__text">2022</span>
    </h2>
  </div>
  <div class="workContainer__paragraphs">
    <p>{description}</p>
    <p>
      {description2}
    </p>
  </div>
  <div class="workContainer__tools">
    <div class="workContainer__span">
      <span class="workContainer__badge">WEBSITE</span>
      <a href="https://juanasotelo.vercel.app/" target="_blank">
        https://juanasotelo.vercel.app/
      </a>
      <span class="workContainer__iconLink"><RiExternalLinkFill /></span>
    </div>
    <div class="workContainer__span">
      <span class="workContainer__badge">CODE</span>
      <a href="https://github.com/LuchoDevjs/LandingPageJS" target="_blank">
        https://github.com/LuchoDevjs/LandingPageJS/
      </a>
      <span class="workContainer__iconLink"><RiExternalLinkFill /></span>
    </div>
    <p>
      <span class="workContainer__badge"> STACK</span>
      Reactjs / React-icons / Material-UI / Formik / SweetAlert2 / Vercel
    </p>
  </div>
  <div class="workContainer__imgs">
    <img src={sedesIMG} alt="SedesIMG" />
    <img src={footerIMG} alt="FooterIMG" />
    <img src={formIMG} alt="FormIMG" />
  </div>
</div>
